<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="/normalize.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
   <script src="/script.js" type="text/javascript" async defer></script>
  <script src="/moment.js" type="text/javascript"></script>
<style>
box{
  position: relative;

}
form{
  position: absolute;

}
.line{
  top:154px;
    left: 54px;
}


.line2{
  top:164px;
    left: 544px;
    color:white;
}

.line3{
  top:164px;
    left: 854px;
    color:white;
}


</style>
</head>
<header>
  <a href="/signup" >Sign up</a>
  <a href="/login">Login In</a>
</header>

<body background-image: url https://images.unsplash.com/photo-1442188950719-e8a67aea613a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=7d928c21eac59064e66e645e569e13d8>



 <h1 id="top2">search for the right car</h1>
<div class="box">

<form action="/show" method="GET" accept-charset="utf-8" class="line">
  <ul >
      <input type="hidden" name="carModel"  value="honda"> Honda
      <input type="text" name="carMake" placeholder="Enter Make">
      <li>Make types</li>
      <li>Civic</li>
      <li>Accord</li>
      <li>CRV</li>
      <li>Fit</li>
      <li>pilot</li>
  </ul>

<button type="submit">cars</button>
</form>
<form action="/show" method="GET" accept-charset="utf-8" class="line2" >
      <ul >
        <input type="hidden" name="carModel"  value="acura"> Acura
        <input type="text" name="carMake" placeholder="Enter Make">
        <li>Make types</li>
        <li>ILX</li>
        <li>TLX</li>
        <li>RLX</li>
        <P>SUV MODELS</P>
        <li>RDX</li>
        <li>MDX</li>
        <li>NSX</li>
      </ul>

<button type="submit">cars</button>
</form>
<form action="/show" method="GET" accept-charset="utf-8" class="line3" >
      <ul >
        <input type="hidden" name="carModel"  value="Aston Martin"> Aston Martin
        <input type="text" name="carMake" placeholder="Enter Make">
        <li>Make types</li>
        <li>RAPIDES</li>
        <li>VANQUISH</li>
    </ul>
<button type="submit">cars</button>
</form>

<div id="footer">
     <div id="flu" class="container-flu">
        <a href="http://www.linkedin.com" style="font-size:34px"><i class="fa fa-linkedin"></i></a>
         <a href="http://www.gmail.com" style="font-size:34px"><i class="fa fa-envelope"></i></a>
               <br><br>
      <p id ="fot">COPYRIGHT © 2016 JOHN ESPINOZA</p>
</div>
</div>
</div>
</body>


</html>
