<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="styles.css">
</head>
<header>

</header>

<body>
<h1>search for the right car</h1>
<form action="/show" method="GET" accept-charset="utf-8">
  <input type='radio' name='carModel' value='honda'>
  <input type='radio' name='carModel' value='acura'>
  <input type='radio' name='carModel' value='Aston Martin'>
  <!-- <input type="text" name="models" placeholder="search car model"> -->
  <input type="submit" value="cars">
</form>

</body>

<footer>

</footer>
</html>
