<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/public/css/styles.css">
  <title >Login</title>
  </head>

<header></header>
<body style="background-image:url(https://images.unsplash.com/photo-1431223768934-5f53d42100b2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=f95b4b1b9cd9adce8b1186b25d71228e)">


  <!-- <div class="blackbar"></div> -->
  <a href="/">HOME</a>
     <hr id="hr1">
  <hr>
  <hr>
  <hr>
  <h1>Login</h1>
    <form class="login" action="/auth" method="post">
        Login: <input type="text" name="user[username]" value="" placeholder="Username">
        Password: <input type="password" name="user[password]" value="" placeholder="Password">
        <input type="submit" name="name" value="Log in">
    </form>
   </body>
    <br>  <br>  <br> <br> <br>  <br> <br> <br> <br> <br> <br> <br>
  <hr>
  <hr>
  <hr>

 <div id="footer">
     <div id="flu" class="container-flu">
        <a href="http://www.linkedin.com" style="font-size:34px"><i class="fa fa-linkedin"></i></a>
         <a href="http://www.gmail.com" style="font-size:34px"><i class="fa fa-envelope"></i></a>
               <br><br>
      <p id ="fot">COPYRIGHT © 2016 JOHN ESPINOZA</p>
</div>
</html>
