.container{
  border: 1px solid black;
  height: 250px;
  width: 500px;

}

body {
  background-
}
/*header #main_page_header {
  height: 40px;
  width:20px;
  background-color:#778899;
  border: 1px solid black;
}*/

/*img {
  width: 100%;
}
*/

/*#container {
  background-color: #222;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}*/

.top{
/*  float: right;*/
  height: 50px;
  width:1200px;
  background-color:#778899;
  border: 1px solid black;
  position: relative;
  padding:5px;


}
#top2{
  text-align: center;

}
.box{
  padding:55px;
}
.container2{
  border: 1px solid black;
  float: right;
  height: 0 0 -1050px 0 ;
  width: 500px;
}
.line{
  /*border: 1px solid black;*/
  width: 350px;
  display: inline-block;
}

footer{
  background-color: #CEECF5;
  border-radius: 5px;
  padding: 5px;
  padding-top:50px;

 /* margin-top: 2%;*/
}

/*login paga css*/


.blackbar{
  background-color: black;
  height:50px;
    width:1200px;

}

